@charset "utf-8";
/* CSS Document */
/* tabdl-shouyexiugai   首页设定*/
.tabdl-shouyexiugai ul li {
    float: left;
    background-color: #FFF;
    border-left: #A2C0D4 solid 1px;
    border-top: #A2C0D4 solid 1px;
    padding: 5px;
    min-height: 30px;
    line-height: 30px;
    text-align: left;
    width: 240px;
}

.tabdl-shouyexiugai ul {
    clear: both;
}

.tabdl-shouyexiugai ul li select {
    height: 24px;
    min-width: 90px;
    margin-left: 10px;
}

.tabdl-shouyexiugai ul:last-child li {
    border-bottom: #A2C0D4 solid 1px;
    width: 753px;
    text-align: center;

}

.tabdl-shouyexiugai ul:first-child li {

    border-top: #A2C0D4 solid 1px;
}

.tabdl-shouyexiugai ul li:last-child {
    border-right: #A2C0D4 solid 1px;
}

.tabdl-shouyexiugai li.li-shouyexiugai {
    width: 120px;
    text-align: center;
    background-color: #E3EDED;
}
