@charset "utf-8";
/* CSS Document *

/* .alliance-edit*/
.tabdl-alliance dd li:first-child {
    width: 90px;
 }

.tabdl-alliance dd li:nth-child(2) {
    width: 150px;
}

.tabdl-alliance dd li:nth-child(3) {
    width: 166px;
}

.tabdl-alliance dd li:nth-child(4) {
    width: 166px;
}

.tabdl-alliance dd li:nth-child(5) {
    width: 340px;
}

.tabdl-alliance dl dd ul li:last-child {
    width: 100px;
}

.alliance-intext {
    width: 92%;
    height: 24px;
    padding:0  3px;
}

.alliance-select {
    width: 94%;
    height: 26px;
}

.alliance-select option {
    font-size: 14px;
    padding:3px 0;
}