@charset "utf-8";
/* CSS Document */


.shedingip dd li:first-child {
    width: 90px;
}

.shedingip dd li:nth-child(2) {
    width: 200px;
}

.shedingip dd li:nth-child(3) {
    width: 270px;
}

.shedingip dd li:nth-child(4) {
    width:161px;
}

.shedingip dd li:nth-child(5) {
    width:201px;
}

.shedingip dl dd li:last-child {
    width: 90px;
}









