@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>設定 - 說明文件</title>
    <style type="text/css">
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
        }

        a {
            display: block;
            cursor: pointer;
            text-decoration: none;
        }

        .menu {
            width: 120px;
            line-height: 25px;
            color: black;
        }

        .submenu {
            line-height: 20px;
        }

            .submenu ul {
                margin: 0px;
                padding: 0px;
                padding-left: 30px;
            }

            .submenu a {
                color: #555;
            }

        #wapper {
            height: 100%;
            min-height: 100%;
            width: 100%;
            background-color: #000;
            color: #FFF;
        }
    </style>
    <script type="text/javascript">
        function showOrHide(id) {
            if (document.getElementById(id).style.display == "") {
                document.getElementById(id).style.display = "none";
            }
            else {
                document.getElementById(id).style.display = "";
            }
        }
        window.onload = function () {
            document.getElementById("mainframe").height = document.body.clientHeight - 7;
        }
        window.onresize = function () {
            if (document.getElementById("mainframe").height != document.body.clientHeight - 7) {
                document.getElementById("mainframe").height = document.body.clientHeight - 7;
            }
        }
        window.focus();
    </script>
</head>
<body>
    <div>
        <table id="maintable" width="100%" height="100%" cellpadding="0" cellspacing="1" style="background-color: #555">
            <tr>
                <td align="left" valign="top" width="160px" style="background-color: #ccc; padding: 10px;">
                    <a class="menu" href="/Areas/SPBG/Help/DocHomePage.html" target="mainframe">首頁設定</a>
                    <a class="menu" href="/Areas/SPBG/Help/DocMessages.html" target="mainframe">訊息管理</a>
                    <a class="menu" onclick="showOrHide('menucml')">廣告管理▼</a>
                    <div class="submenu" id="menucml" style="display: none">
                        <ul>
                            <li><a href="/Areas/SPBG/Help/DocCommercialForPC.html" target="mainframe">PC 版</a></li>
                            @*<li><a href="/Areas/SPBG/Help/DocCommercialForMP.html" target="mainframe">手機版</a></li>*@
                        </ul>
                    </div>
                </td>
                <td align="left" valign="top" style="background-color: white;">
                    <iframe id="mainframe" name="mainframe" width="100%" marginwidth="0" marginheight="0" scrolling="yes" frameborder="0"></iframe>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
