@charset "utf-8";
/* CSS Document */



.tabdl dl dd {
    clear: both;
    overflow: hidden;
}

.tabdl dl ul li {
    float: left;
    border-left: #A2C0D4 solid 1px;
    border-top: #A2C0D4 solid 1px;
    border-bottom: #A2C0D4 solid 1px;
    color: #434343;
    text-align: center;
    padding: 5px;
    line-height: 40px;
}
.tabdl dl ul li:nth-child(1){
    width: 80px;
}
.tabdl dl ul li:nth-child(2){
    width: 80px;

}
.tabdl dl ul li:nth-child(3){
    width: 80px;

}
.tabdl dl ul li:nth-child(4){
    width: 80px;

}
.tabdl dl ul li:nth-child(5) {
    padding: 5px 0;
    width: 582px;
    text-align: left;
    line-height: normal;
}

.tabdl dl ul li:nth-child(6) {
    line-height: normal;
    width: 120px;
}

.tabdl dl ul li:nth-child(5) div, .tabdl dl ul li:nth-child(6) a {
    height: 19px;
    line-height: 19px;
    padding: 0 5px;
}

.tabdl dl dd:nth-child(1) li {
    height: 40px;
    background-color: #4F7B95;
    color: #FCFCFC;
    border-top: #A2C0D4 solid 1px;
}

.tabdl dl dd:nth-child(1) li:nth-child(1) {
    line-height: normal;
}

.tabdl dl dd:nth-child(1) li div {
    margin-top: 3px;
}

.tabdl dl dd:nth-child(1) li:nth-child(2) {
    line-height: normal;
}

.tabdl dl dd:nth-child(1) li:nth-child(5) {
    line-height: 40px;
    text-align: center;
}

.tabdl dl dd:nth-child(1) li:nth-child(6) {
    line-height: 40px;
}

.tabdl dl dd:nth-child(2n) li {
    height: 40px;
}
.tabdl dl dd:last-child  li {
    border-bottom: #A2C0D4 solid 1px;
}
.tabdl dl dd:nth-child(2n) li div:nth-child(2) {
    border-top: #A2C0D4 solid 1px;
}

.tabdl dl dd:nth-child(2n+3) li {
    border-top: #A2C0D4 solid 1px;
    height: 35px;
    line-height: 35px;
    width: 1077px;
    border-left: #A2C0D4 solid 1px;
}
.tabdl dl dd li:last-child  {
    border-right: #A2C0D4 solid 1px;
}

.tabdl dl dd:nth-child(2n+3) ul li:nth-child(1) {
       width: 1067px;
}
.tabdl dl dd:nth-child(2n+3) ul li:nth-child(1) span {
       float:left;
       margin-left:10px
}
.tabdl dl dd:nth-child(2) li, .tabdl dl dd:nth-child(3) li {
    background-color: #FFFFFF;
}

.tabdl dl dd:nth-child(4n+4) li, .tabdl dl dd:nth-child(4n+5) li {
    background-color: #E3EDED
}

.tabdl dl ul li a {
    display: block;
}

.tabdl dl li label {
    width: 12px;
    height: 12px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fbf8f1;
}

.chckbox {
    border: solid 2px #85a6bd;
}

.chckboxhov {
    border: solid 2px #3c6887;
    background: url(../images/checkbox.png) center center no-repeat;
}

.zhuangtaiinput {
    width: 980px;
    color:red;
    margin-top: 4px;
    height: 24px;
    font-size: 14px;
    padding: 0 3px;
    background-color: #FFF;
    border: solid 1px #61849c;
    background-image: -webkit-linear-gradient(top, #e6e3e3, #fff 43%);
    background-image: -moz-linear-gradient(top, #e6e3e3, #fff 43%);
    background-image: -o-linear-gradient(top, #e6e3e3, #fff 43%);
    background-image: -ms-linear-gradient(top, #e6e3e3, #fff 43%);
    background-image: linear-gradient(to bottom, #e6e3e3, #fff 43%);
}